.ant-picker-calendar-date-today {
   background: #fff7e5 !important;
   border-color: #ffb300 !important;
}
.ant-picker-calendar-date-value {
   color: #ffb300 !important;
}

.ant-radio-button-wrapper-checked {
   color: #ffb300 !important;
   border-color: #ffb300 !important;
}